<div class="aboutContainer">
    <img class="myPic" src="/content/images/Desmondpic.jpg" alt="Me">
    <br>
    <div class="blurb">
        <h1 class="blurb-Title"> Desmond Antrobus</h1>
        <p>
            My name is Desmond Antrobus; I’m 29 years old and I currently live in Scarborough.
            I am in my third semester at Centennial college; enrolled in the software engineering technician program.
            At the moment, I work as a receiver/driver at an auto parts warehouse. Looking for a change in careers I
            have decided on pursuing a career in IT. In my spare time I like to ride my bike and watch movies and play
            video games.
        </p>
        <br>
        <!-- link redirects to PDF resume -->
        <a href="/content/pdf/Desmond_Antrobus_Resume.pdf" class="btn btn-dark"> Resume (PDF)</a>
    </div>

</div>