<div class="homecontainer">
    <h3><strong>WELCOME</strong></h3>
    <br>
    <h5>By completing this course and continuing my path into the realm of technology, I hope to
        successfully change
        careers! By collaborating closely with others and creating deep connections both at work and at home, I hope to
        find my purpose in this huge field of careers.
        I'll continuously update my portfolio as I gain experience to assist me monitor my development.
    </h5>
    <br>
    <a href="aboutme" class="btn btn-dark">About me </a>

</div>