<div class="projectscontainer">
    <h1> Projects </h1>

    <!--BOOTSTRAP CARD DECK https://getbootstrap.com/docs/4.0/components/card/ -->
    <!--<div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="/content/images/WeatherApp.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">I created a Weather Application using javascript,API weather key,geolocation and
                    ajax.
                    For an assignment in my second semester.
                </p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/content/images/Calculator.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">C# GUI calculator</h5>
                <p class="card-text">
                    This calculator was originally an assignment for
                    programming 2 in my second semester. It was built using C# GUI, it has various functions like a
                    normal calculator such
                    as (addition, subtraction, multiplication, etc.).
                </p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text"></p>
            </div>
        </div>
    </div>
</div>-->
    <div class="card-group">
        <div class="card">
            <img class="card-img-top" src="/content/images/WeatherApp.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="s-card-title">WeatherApp</h5>
                <p class="card-text">I created a Weather Application using javascript,API weather key,geolocation and
                    ajax. For an assignment in my second semester.</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/content/images/Calculator.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">C# Calculator</h5>
                <p class="card-text">This calculator was originally an assignment for
                    programming 2 in my second semester. It was built using C# GUI, it has various functions like a
                    normal calculator such as (addition, subtraction, multiplication, etc.).</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/content/images/Modern_Homes.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"> Modern home Web Page </h5>
                <p class="card-text">This was my first web design project, I made a web page displaying houses for sale
                    for a realtor.
                    Combining everything I learned in my first semester to make a layout functional and presentable.</p>
            </div>
        </div>
    </div>
</div>