<div class="servicesContainer">
    <h1> Services</h1>

    <!--BOOTSTRAP CARD DECK https://getbootstrap.com/docs/4.0/components/card/ -->
    <div class="card-group">
        <div class="card">
            <img class="s-card-img-top" src="/content/images/Coding.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="s-card-title">Coding</h5>
                <p class="card-text">knowledgeable of the basics of C# and python, currently learning Java and PL/SQL
                </p>
            </div>
        </div>
        <div class="card">
            <img class="s-card-img-top" src="/content/images/webDesign.jpeg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Web Design Layout</h5>
                <p class="card-text">Able to create simple web design layouts some knowledge of Bootstrap and
                    javascript.</p>
            </div>
        </div>
        <div class="card">
            <img class="s-card-img-top" src="/content/images/softwareDevelopment.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"> App Design Layout </h5>
                <p class="card-text">Can create simple web apps using API's and javascript.
                </p>
            </div>
        </div>
    </div>
</div>